[flake8]
max-line-length = 100
ignore =
    # multiple imports on one line
    E401
    # continuation under indented
    E128
    # continuation over indented
    E126
    # continuation over indented for visual indent
    E127
    # continuation line unaligned for hanging indent
    E131
    # continuation line under indented
    E121
    # closing bracket does not match visual indentation
    E124
    E123
